  {% include 'popup' %}

<div class="row">  
  <div id="three-banners">
	<a href="{{ settings.threeleftlink }}"><img src="{{ 'lefthree.gif' | asset_url }}" alt="{{ settings.three1_alt }}" style="border: 0;"  /></a>
   <a href="{{ settings.threecenterlink }}"><img src="{{ 'centerthree.gif' | asset_url }}" alt="{{ settings.three2_alt }}" style="border: 0;"  /></a>
   <a href="{{ settings.threerightlink }}"><img src="{{ 'rightthree.gif' | asset_url }}" alt="{{ settings.three3_alt }}" style="border: 0;"/></a>
  </div>
</div>

 
{% if settings.slidewidth == 'full' %}<div class="wide">{% else %}<div class="row">{% endif %}
    <div id="slider">
        <div id="featured">
                <a href="{{ settings.slide1_url }}"><img src="{{ 'slide1.jpg' | asset_url }}" alt="{{shop.name}}" /></a>
                {% if settings.slide-2-check %}<a href="{{ settings.slide2_url }}"><img src="{{ 'slide2.jpg' | asset_url }}" alt="{{ settings.slide1_alt }}" /></a>{% endif %}
                {% if settings.slide-3-check %}<a href="{{ settings.slide3_url }}"><img src="{{ 'slide3.jpg' | asset_url }}" alt="{{ settings.slide2_alt }}" /></a>{% endif %}
                {% if settings.slide-4-check %}<a href="{{ settings.slide4_url }}"><img src="{{ 'slide4.jpg' | asset_url }}" alt="{{ settings.slide3_alt }}" /></a>{% endif %}
                {% if settings.slide-5-check %}<a href="{{ settings.slide5_url }}"><img src="{{ 'slide5.jpg' | asset_url }}" alt="{{ settings.slide5_alt }}" /></a>{% endif %}
                {% if settings.slide-6-check %}<a href="{{ settings.slide6_url }}"><img src="{{ 'slide6.jpg' | asset_url }}" alt="{{ settings.slide6_alt }}" /></a>{% endif %}
                {% if settings.slide-7-check %}<a href="{{ settings.slide7_url }}"><img src="{{ 'slide7.jpg' | asset_url }}" alt="{{ settings.slide7_alt }}" /></a>{% endif %}
                {% if settings.slide-8-check %}<a href="{{ settings.slide8_url }}"><img src="{{ 'slide8.jpg' | asset_url }}" alt="{{ settings.slide8_alt }}" /></a>{% endif %}
                {% if settings.slide-9-check %}<a href="{{ settings.slide9_url }}"><img src="{{ 'slide9.jpg' | asset_url }}" alt="{{ settings.slide9_alt }}" /></a>{% endif %}
                {% if settings.slide-10-check %}<a href="{{ settings.slide10_url }}"><img src="{{ 'slide10.jpg' | asset_url }}" alt="{{ settings.slide10_alt }}" /></a>{% endif %}           
        </div>
    </div>
</div>

<script type="text/javascript">
 

   $(window).load(function() {
        $('#featured').orbit({
          animation: 'fade',                  // fade, horizontal-slide, vertical-slide, horizontal-push
          animationSpeed: 800,                // how fast animtions are
          timer: true,                        // true or false to have the timer
          resetTimerOnClick: false,           // true resets the timer instead of pausing slideshow progress
          advanceSpeed: 5000,                 // if timer is enabled, time between transitions
          pauseOnHover: false,                // if you hover pauses the slider
          startClockOnMouseOut: false,        // if clock should start on MouseOut
          startClockOnMouseOutAfter: 1000,    // how long after MouseOut should the timer start again
          directionalNav: true,               // manual advancing directional navs
          captions: true,                     // do you want captions?
          captionAnimation: 'fade',           // fade, slideOpen, none
          captionAnimationSpeed: 800,         // if so how quickly should they animate in
          fluid: true                         // or set a aspect ratio for content slides (ex: '4x3')
        });
 
  

  
  });


  
</script>

{% if settings.promo %}
<div id="homepage-promo-images">
    <div class="row">
        <ul class="block-grid three-up mobile-one-up">
            <li id="leftpromo">
                <a href="{{ settings.leftlink }}"><img src="{{ 'leftpromo.gif' | asset_url }}" alt="{{ settings.promo1_alt }}" style="border: 0;" class="scale-with-grid" /></a>
            </li>
            
            <li id="midpromo">
                <a href="{{ settings.midlink }}"><img src="{{ 'midpromo.gif' | asset_url }}" alt="{{ settings.promo2_alt }}" style="border: 0;" class="scale-with-grid"/></a>
            </li>
            
            <li id="rightpromo">         
                <a href="{{ settings.rightlink }}"><img src="{{ 'rightpromo.gif' | asset_url }}" alt="{{ settings.promo3_alt }}" style="border: 0;" class="scale-with-grid"/></a>
            </li>
        </ul>
        <div class="clear"></div> 
    </div>
</div>
{% endif %}

 <div class="widget widget-static-block">
   <div class="instagram-carousel">
<div class="row">

   <div class="embedagram">
  <h3>Check out our Latest Posts on <strong>Instagram</strong></h3>

     <iframe src="http://embedagram.com/e/widget/14432981/?css=http://cdn.shopify.com/s/files/1/0247/1049/files/embedagram.css?27091" scrolling="no" frameborder="0" style="border:none; overflow:hidden; margin-left:-10px;  width:920px; height:144px; " allowTransparency="true"></iframe>
  </div>
     </div>  
<div class="row">
        <div id="social-banners">
          <a href="https://www.facebook.com/pages/Shop-Jeen/165634163553725">{{ 'facebook_soc2.gif' | asset_url | img_tag }}</a>
          <a href="https://twitter.com/shopjeen"> {{ 'twitter_soc.gif' | asset_url | img_tag }}</a>
          <a href="http://pinterest.com/shopjeen/">{{ 'pinterest_soc2.gif' | asset_url | img_tag }}</a>
          <a href="http://shopjeen.tumblr.com">{{ 'tumblr_soc.gif' | asset_url | img_tag }}</a>
          <a href="http://wanelo.com/store/shopjeen">{{ 'wanelo_soc.gif' | asset_url | img_tag }}</a>
           
      </div>
      </div>


{% if settings.products %}
{% if settings.homepage-collection != blank %}
<ul id="homepage-products-mobile" class="mobile-one-up no-bullet"> 
            <h2 class="text-{{ settings.homepage-title-align }}"><span>{{ settings.homepage-products-title }}</span></h2>
    {% for product in collections.[settings.homepage-collection].products limit: 12 %}
        <li>     
            <div class="collection-image">
                {% if product.price < product.compare_at_price %}<div class="sale"></div>{% endif %}
            {% if product.available %}{% else %}<div class="gone"><img src="{{ 'allgone.png' | asset_url }}"></div>{% endif %}     
                <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                    <img class="img1" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                </a>
            </div>
            <div class="collection-products">
              <h3>
                <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br /><span class="money">{{ product.price | money }}</span> {% if product.price < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}</a>
              </h3>
            </div>
        </li>
    {% endfor %}
</ul>

<!---- END MOBILE ONLY ---->


<div id="homepage-products">  
    <div class="row">
            <h2 class="text-{{ settings.homepage-title-align }}"><span>{{ settings.homepage-products-title }}</span></h2>
            
        <div id="featuredContent">
            <div>          
                <ul id="collectionlist" class="block-grid four-up"> 
                    {% for product in collections.[settings.homepage-collection].products limit: 4 %}
                        <li>     
                            <div class="collection-image">
                {% if product.price < product.compare_at_price %}<div class="sale"></div>{% endif %}
                            {% if product.available %}{% else %}<div class="gone"><img src="{{ 'allgone.png' | asset_url }}"></div>{% endif %} 
                            {% if product.images.size > 1 %}      
                            <script type="text/javascript" charset="utf-8">
                            $(function(){
                                $('.collection-image').each(function(){
                                    if($(this).find('img').length > 1) {
                                        $(this).find('.img2').hide().css('visibility', 'visible');
                                        $(this).hover(function(){
                                            $(this).find('.img2').stop(true,true).fadeIn("1000");
                                            $(this).find('.img1').stop(true,true).fadeOut("1000");
                                        }, function(){
                                            $(this).find('.img2').stop(true,true).fadeOut("1000");
                                            $(this).find('.img1').stop(true,true).fadeIn("1000");
                                        });
                                    }
                                });
                            }); 
                            </script>
                                      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      <img class="img2 scale-with-grid" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /> 
                                      </a>       
                            {% else %}       
                                    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      </a>
                            {% endif %}    
                            </div>
                            <div class="collection-products">
                              <h3>
                                <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br /><span class="money">{{ product.price | money }}</span> {% if product.price < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}</a>
                              </h3>
                            </div>
                        </li>
                    {% endfor %}
                </ul> 
            </div>
            <div>
                <ul id="collectionlist" class="block-grid four-up"> 
                    {% for product in collections.[settings.homepage-collection].products limit: 4 offset: 4 %}
                        <li>     
                            <div class="collection-image">
                {% if product.price < product.compare_at_price %}<div class="sale"></div>{% endif %}
                            {% if product.available %}{% else %}<div class="gone"><img src="{{ 'allgone.png' | asset_url }}"></div>{% endif %} 
                            {% if product.images.size > 1 %}      
                            <script type="text/javascript" charset="utf-8">
                            $(function(){
                                $('.collection-image').each(function(){
                                    if($(this).find('img').length > 1) {
                                        $(this).find('.img2').hide().css('visibility', 'visible');
                                        $(this).hover(function(){
                                            $(this).find('.img2').stop(true,true).fadeIn("1000");
                                            $(this).find('.img1').stop(true,true).fadeOut("1000");
                                        }, function(){
                                            $(this).find('.img2').stop(true,true).fadeOut("1000");
                                            $(this).find('.img1').stop(true,true).fadeIn("1000");
                                        });
                                    }
                                });
                            }); 
                            </script>
                                      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      <img class="img2 scale-with-grid" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /> 
                                      </a>       
                            {% else %}       
                                    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      </a>
                            {% endif %}    
                            </div>
                            <div class="collection-products">
                              <h3>
                                <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br /><span class="money">{{ product.price | money }}</span> {% if product.price < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}</a>
                              </h3>
                            </div>
                        </li>
                    {% endfor %}
                </ul> 
            </div>
            <div>
                <ul id="collectionlist" class="block-grid four-up"> 
                    {% for product in collections.[settings.homepage-collection].products limit: 4 offset: 8 %}
                        <li>     
                            <div class="collection-image">
                {% if product.price < product.compare_at_price %}<div class="sale"><img src="{{ 'sale-red.png' | asset_url }}"></div>{% endif %}
                            {% if product.available %}{% else %}<div class="gone"><img src="{{ 'allgone.png' | asset_url }}"></div>{% endif %} 
                            {% if product.images.size > 1 %}      
                            <script type="text/javascript" charset="utf-8">
                            $(function(){
                                $('.collection-image').each(function(){
                                    if($(this).find('img').length > 1) {
                                        $(this).find('.img2').hide().css('visibility', 'visible');
                                        $(this).hover(function(){
                                            $(this).find('.img2').stop(true,true).fadeIn("1000");
                                            $(this).find('.img1').stop(true,true).fadeOut("1000");
                                        }, function(){
                                            $(this).find('.img2').stop(true,true).fadeOut("1000");
                                            $(this).find('.img1').stop(true,true).fadeIn("1000");
                                        });
                                    }
                                });
                            }); 
                            </script>
                                      <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      <img class="img2 scale-with-grid" src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /> 
                                      </a>       
                            {% else %}       
                                    <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                                      <img class="img1 scale-with-grid" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                                      </a>
                            {% endif %}    
                            </div>
                            <div class="collection-products">
                              <h3>
                                <a href="{{ product.url | within: collection }}">{{ product.title | truncate: 70 }}<br /><span class="money">{{ product.price | money }}</span> {% if product.price < product.compare_at_price %} was <span class="red">{{ product.compare_at_price | money }}</span>{% endif %}</a>
                              </h3>
                            </div>
                        </li>
                    {% endfor %}
                </ul> 
            </div>
        </div>   
    </div>
</div>
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ 
            animationSpeed: 800,                // how fast animtions are
            timer: true,                        // true or false to have the timer
            resetTimerOnClick: false,           // true resets the timer instead of pausing slideshow progress
            advanceSpeed: 6000,                 // if timer is enabled, time between transitions
            pauseOnHover: false,                // if you hover pauses the slider
            startClockOnMouseOut: false,        // if clock should start on MouseOut
            startClockOnMouseOutAfter: 1000,    // how long after MouseOut should the timer start again
            directionalNav: false,               // manual advancing directional navs
            fluid: '{{ settings.ratio }}',
            bullets: true,                     // true or false to activate the bullet navigation
            bulletThumbs: false,                // thumbnails for the bullets
            bulletThumbLocation: '',            // location from this file where thumbs will be
       });
   });
</script>
{% endif %}
{% endif %}

<div id="homepage-blog">
 

    <div class="row">
        {% if settings.homepage-blog-articles %}
            <h2 class="text-{{ settings.homepage-title-align }}"><span>Recent Updates</span></h2>
                <ul id="index-blog-articles" class="twelve columns no-bullet">
                    {% for article in blogs.[settings.homepage-blog].articles limit: settings.articles-shown %}
                    <li>
                        <a href="{{article.url}}"><h4>{{ article.title }}</h4></a>
                        <div id="homepage-content" class="twelve columns">
                            <small><i class="icon-calendar"></i> Published: {{ article.published_at | date: "%A %b %d %Y" }} {% if blog.comments_enabled? %} / <i class=" icon-comments"></i><a href="{{ article.comment_post_url }}"> Comments: {{ article.comments_count }}</a>{% endif %}</small>
                                <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
                                <p><a href="{{ article.url }}">Read More <i class="icon-share"></i></a></p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
        {% endif %}
    </div>
</div>
