<div class="row">  
  <div id="three-banners">
	<a href="{{ settings.threeleftlink }}"><img src="{{ 'lefthree.gif' | asset_url }}" alt="{{ settings.three1_alt }}" style="border: 0;"  /></a>
   <a href="{{ settings.threecenterlink }}"><img src="{{ 'centerthree.gif' | asset_url }}" alt="{{ settings.three2_alt }}" style="border: 0;"  /></a>
   <a href="{{ settings.threerightlink }}"><img src="{{ 'rightthree.gif' | asset_url }}" alt="{{ settings.three3_alt }}" style="border: 0;"/></a>
  </div>
</div>
<div id="page">
<h2>{{ page.title }}</h2>
{{ page.content }}
</div>